.figure-home {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: #FF6060;

    .figcaption-bg {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        position: relative;

        .h4-home {
            position: absolute;
            bottom: 0;
            color: #fff;
            padding: 10px;
        }
    }

}