.div-container-error {
    width: 100%;
    height: 80vh;
    // border: 1px solid #ff6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-block {
        // border: 1px solid #000;
        text-align: center;

        .h1-error {
            color: #ff6060;
            font-size: 200px;
            padding: 0;
            margin: 0;
        }

        .p-error {
            color: #ff6060;
            font-size: 22px;
        }

        .link-back {
            margin-top: 100px;

            .p-error-back-home {
                color: #ff6060;
                font-size: 12px;

            }

        }
    }

}