a {
    text-decoration: none;
}

.nav-active {
    border-bottom: 1px solid #FF6060;
}

.nav-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .div-img {
            .img-logo {
                width: 150px;
            }

        }

        .div-nav-aside {
            width: 20%;

            .nav-ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                .li-nav {
                    color: #FF6060;
                }
            }
        }
    }
}