.single-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;

    .container-slider {
        width: 100%;
        height: 415px;
        margin: 0 auto;
        border-radius: 10px;

        @media only screen and (max-width: 450px) {
            height: 300px;
        }
    }

    .home-description {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        padding: 10px;

        @media only screen and (max-width: 450px) {
            flex-direction: column;
            margin: 0;
        }

        .left-description {
            .h3-left-description {
                color: #FF6060;
                font-size: 30px;
                margin-bottom: 10px;
            }

            .h4-left-description {
                color: #FF6060;
                font-size: 14px;
            }

            .tag-section {
                margin-top: 20px;
                height: auto;

                @media only screen and (max-width: 450px) {
                    display: flex;
                    flex-wrap: wrap;
                }


            }
        }

        .right-description {
            @media only screen and (max-width: 450px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }

            .host {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                @media only screen and (max-width: 450px) {
                    margin-bottom: 0;
                }

                .h4-host-name {

                    text-align: right;
                    white-space: pre;

                    @media only screen and (max-width: 450px) {
                        font-size: 12px;
                        word-break: break-word;
                    }
                }

                .img-host {
                    margin-left: 10px;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .star-container {
                .start-box {
                    display: flex;

                    .star-rating {
                        width: 20px;
                    }
                }
            }
        }
    }

    .dropdown-container-description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        @media only screen and (max-width: 450px) {
            flex-direction: column;

        }

        .drop-description {
            width: 45%;
            border-radius: 5px;
            margin: 0;

            @media only screen and (max-width: 450px) {
                width: 100%;
                margin-bottom: 20px;
            }

            .drop-container-span-img {
                background-color: #FF6060;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .span-drop-description {
                    color: #fff;
                    margin-left: 10px;
                }

                .img-clapet {
                    cursor: pointer;
                    margin-right: 10px;
                }
            }

            .description {
                // margin-top: 11px;
                background-color: #F6F6F6;
                height: 150px;

                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 0 0 10px 10px;

                .p-description {
                    color: #FF6060;
                }
            }
        }



        .drop-description-equipment {
            width: 45%;
            border-radius: 5px;

            @media only screen and (max-width: 450px) {
                width: 100%;
            }

            .drop-container-span-img {

                display: flex;
                background-color: #FF6060;
                justify-content: space-between;

                width: 100%;
                padding: 10px 0;
                border-radius: 5px;


                .span-drop-description {
                    color: #fff;
                    margin-left: 10px;
                }

                .img-clapet {
                    cursor: pointer;
                    margin-right: 10px;
                }
            }

            .description-equipment {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #F6F6F6;
                height: 150px;
                padding: 10px;
                border-radius: 0 0 10px 10px;


                .li-equipment {
                    color: #FF6060;
                }

            }
        }
    }

}